body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;

}

header {
    background-color: rgb(206, 122, 136);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    font-weight: bold;
    color: white;
    height: 70px;
}

.logo {
    font-size: 22px;

}

.navigation {
    display: flex;
    gap: 10px;
    font-weight: bold;
    font-size: 20px;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(6, 6, 53);
    color: white;
    font-weight: bold;
    height: 100px;
}

.footer-title {
    font-size: 20px;
}

.container {
    height: 71vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    margin: 4px 0;
}

.container-title {
    padding: 0px 20%;
}

h2 {
    font-weight: 900;
    color: rgb(6, 6, 53);
    font-size: 70px;
    margin: 10px 0px;
}

.container-select {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 10px;
    font-size: 1rem;
    font-weight: bold;

}

label {
    align-self: flex-start;
}

.select-option {
    border-radius: 8px;
    border: none;
    padding: 12px;
    width: 100%;
    height: 50px;
    background-color: rgb(230, 230, 230);
}

.text-end {
    font-weight: bold;
    font-size: 20px;
}

/* Tablet */
@media (max-width: 768px) {
    .logo {
        font-size: 20px;

    }

    .navigation {
        gap: 8px;
        font-size: 18px;
    }

    footer {
        height: 80px;
    }

    .footer-title {
        font-size: 18px;
    }

    .container {
        padding: 10px 0;
    }

    .container-title {
        padding: 0px 5%;
    }

    h2 {
        font-weight: 800;
        font-size: 60px;
    }

    .container-select {
        width: 60%;
    }

    .text-end {
        font-size: 18px;
    }



}

/* Mobile */
@media (max-width: 576px) {
    header {
        flex-direction: column;
        justify-content: space-around;
    }

    .logo {
        font-size: 18px;

    }

    .navigation {
        font-size: 15px;
    }

    footer {
        gap: 5px;
        height: 80px;
    }

    .footer-title {
        font-size: 18px;
    }

    .container {
        height: 75vh;
        gap: 30px;
        font-size: 15px;
        width: 100%;
    }

    .container-title {
        padding: 0px 5%;
    }

    h2 {
        font-weight: 800;
        font-size: 40px;
    }

    .container-select {
        width: 80%;
        gap: 10px;
        font-size: 0.55rem;
    }

    .select-option {
        height: 40px;
    }

    .text-end {
        font-size: 15px;
    }
}